@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
   /*---------------------Titulo------------------------*/
h1{
    font-size: 40px;
    color: white;
     font-family: 'Handlee', cursive;
     margin-left: 25%;
}
div{
  padding: 1%;
  font-size: 16px;
  display:flex;
  flex-direction: column;
  align-items: stretch;
  margin-left: 30%;
}
h3{
   padding: 6px;;
   text-align: center;
   background-color: #B9DCD3;
   border-radius: 50px 50px 50px 50px;
}
header{
    background-color: #5FA0B3;
    padding: 10px;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;

    
}.volver{
    
    background-color:#f2b2b2;
    font-weight: bold;
    margin-top: 20px;
    border: 2px solid #6B98A5;
    border-radius: 6px;
    font-size: 18px;
    font-family: 'Handlee', cursive;
    color: white;
    padding: 30%;
    
}

    /*-----------------------------footer------------------------*/

.footer{

    font-family: 'Varela Round', sans-serif;
    position: fixed;
    bottom: -15px;
    width: 100%;
    height: 30px;
    color: rgb(70, 82, 82);
    background-color: #E7E7E7;
    text-align: center;
    padding: 2px;
   vertical-align: middle;
}

.logogit{
    width: 35px;
    height: 35px;
    position: fixed;
     bottom: 0;
    margin-left: 75%;
    display: flex;
    
}