@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
/*---------------------Titulo------------------------*/
h1{
    background-color: #5FA0B3;
    padding: 20px;
    text-align: center;
    color: white;
    font-family: 'Handlee', cursive;
}
img{
    width: 30px;

  }
    /*---------------------Boton de home------------------------*/
.home{
  position :absolute;
  top: 40px;
  left: 30px;
  }
  


/*-----------------------------Boton de iniciar sesion------------------------*/

.enviar{
    border: 2px solid #366372;
    border-radius: 6px;
    font-size: 15px;
    font-family: 'Handlee', cursive;
    background-color: #008CBA;
    color: white;
    padding: 4%;
    margin-left: 20%;
}
.registro{
    border: 2px solid #356d52;
    border-radius: 6px;
    font-size: 15px;
    font-family: 'Handlee', cursive;
    background-color: #61b48c;
    color: white;
    padding: 4%;
    margin-left: 20%;
}

    /*-----------------------------footer------------------------*/

.footer{

    font-family: 'Varela Round', sans-serif;
    position: fixed;
    bottom: -15px;
    width: 100%;
    height: 30px;
    color: rgb(70, 82, 82);
    background-color: #E7E7E7;
    text-align: center;
    padding: 2px;
   vertical-align: middle;
}

.logogit{
    width: 35px;
    height: 35px;
    position: fixed;
     bottom: 0;
    margin-left: 75%;
    display: flex;
    
}

/*-----------------------------footer------------------------*/


.box{
        border:3px solid #555;  
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
	border-radius:3px;
	padding:70px 100px;
}
.input-container{
	position:relative;
	margin-bottom:25px;
}
.input-container label{
    font-weight: bold;
        font-family: 'Comfortaa', cursive;
    font-size:16px;
    color:rgb(105, 104, 104);	
    transition: all 0.5s ease-in-out;
}
.input-container input{ 
    font-family: 'Comfortaa', cursive;
     border:0;
     border-bottom:2px solid #555;  
     background:transparent;
     width:100%;
     padding:8px 0 5px 0;
     font-size:16px;
     color:rgb(34, 35, 85);
     background: rgba(80, 150, 204, 0.411);
}
.input-container input:focus{ 
  outline: none
}